@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao CLOUD_9_2022_BackOffice!</h1>
    <p>Altere e/ou apague desde artigos a utilizadores! Toda a informação que precisa acerca do CLOUD_9_2022!</p>
</div>
